[profile {{ cloudwatch_agent_credentials_profile }}]
region = {{ cloudwatch_agent_region_name }}

{% if cloudwatch_agent_access_key_id %}
aws_access_key_id = "{{ cloudwatch_agent_access_key_id }}"
aws_secret_access_key = "{{ cloudwatch_agent_secret_access_key }}"
{% endif %}
